# Compiled outputs
dist
tmp

# Dependencies
node_modules

# IDEs and editors
/.idea
.project
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Tests
coverage

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

# Symbolic links
apps/**/.symlinks/shared

# Env
.env
local.settings.json
